In [2]:
from sklearn.preprocessing  import LabelEncoder
import pandas as pd

df=pd.read_csv('sample1.csv')

df_label=df.copy()
le=LabelEncoder()
df_label['Gender_Encoder']=le.fit_transform(df_label['Gender'])
print(df_label[['Name','Gender','Gender_Encoder','City']])

                Name  Gender  Gender_Encoder    City
0   Catherine Wright    Male               1   Delhi
1        Sean Guerra  Female               0      UP
2        Riley Mason    Male               1  Punjab
3   Jennifer Camacho  Female               0      MP
4        Jared Crane    Male               1      UP
..               ...     ...             ...     ...
95      Dawn Gardner    Male               1      UP
96  Christina Taylor    Male               1   Delhi
97   Jerry Rodriguez    Male               1  Punjab
98   Elizabeth Jones    Male               1  Punjab
99       Jamie Doyle    Male               1   Delhi

[100 rows x 4 columns]

In [3]:
df_encoded=pd.get_dummies(df,columns=['City'])
df_encoded.head(5)

               Name  Gender  Age  ...  City_MP  City_Punjab  City_UP
0  Catherine Wright    Male   48  ...    False        False    False
1       Sean Guerra  Female   57  ...    False        False     True
2       Riley Mason    Male   43  ...    False         True    False
3  Jennifer Camacho  Female   39  ...     True        False    False
4       Jared Crane    Male   33  ...    False        False     True

[5 rows x 8 columns]

In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

data={
    'studyHour':[1,2,3,4,5],
    'examScore':[40,50,60,70,80]
}

df=pd.DataFrame(data)

standard_scaler=StandardScaler()
standard_scaled=standard_scaler.fit_transform(df)
print(standard_scaled)

minmax_scaler=MinMaxScaler()
minmax_scaled=minmax_scaler.fit_transform(df)
print(minmax_scaled)

x=df[['studyHour']]
y=df[['examScore']]

x_train,x_test,y_train,y_test=train_test_split(x,y ,test_size=0.2,random_state=42)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

[[-1.41421356 -1.41421356]
 [-0.70710678 -0.70710678]
 [ 0.          0.        ]
 [ 0.70710678  0.70710678]
 [ 1.41421356  1.41421356]]
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [0.75 0.75]
 [1.   1.  ]]
   studyHour
4          5
2          3
0          1
3          4
   studyHour
1          2
   examScore
4         80
2         60
0         40
3         70
   examScore
1         50